<%= devise_error_messages! %>
<div class="border-form-div">
  <h2>Sign up</h2>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= f.text_field :name, :autofocus => true, :placeholder => 'Full Name' %>
    <%= f.email_field :email, :placeholder => 'Email address' %>
    <%= f.password_field :password, :placeholder => 'Password' %>
    <%= f.password_field :password_confirmation, :placeholder => 'Password confirmation' %>
    <%= f.file_field :avatar, :placeholder => 'Avatar',:class=>'mb-3' %>
    <%= f.submit "Sign up",:class=>'btn btn-primary mb-3' %>
  <% end %>
  <p>already registered
  <%= render "devise/shared/links" %></p>
</div>