<% content_for :title, "Confirm Order" %>

<div class="container">
<div class="row justify-content-center">
    <div class="col-md-10 border p-1 m-5">
      <h1 class="text-center mt-3 m-2  rounded ">Confirm Order</h1>
      <hr />
      <div class="m-3">
        <table class="table table-sm table-striped  rounded text-center table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Image</th>
              <th scope="col">Total Price</th>
              <th scope="col">quantity</th>
            </tr>
          </thead>
          <tbody>
            <% if !@order.nil? %>
              <% @order.order_products.each do |ordprod| %>
                <tr>
                  <td>
                    <%= link_to product_path(ordprod.product.id), :class => 'text-decoration-none text-dark' do %>
                      <%= ordprod.product.title %>
                    <% end %>
                  </td>
                  <td>
                    <%= (ordprod.product.image.attached?) ? image_tag(ordprod.product.image, size: "120x100") : "No Image" %>
                  </td>
                  <td>
                    <%= ordprod.quantity*ordprod.product.price %>
                  </td>
                  <td>
                    <%= ordprod.quantity %>
                  </td>
                </tr>
  <% end %>
   </tbody>
          </table>
          <hr >
          <div class="text-center h5 p-2 m-3 ">
            <%= form_with(url: order_path(@order.id), method: "put") do |form| %>
              <%= form.submit "CheckOut", :class => 'btn btn-primary' %>
            <% end %>
          </div>
        <% end %>
      </div>
      
    </div>
  </div> 
</div>