<h1>Editing Order</h1>

<%= form_with(model: @order, local: true) do |form| %>
  <p>
    title <span><%= @product.title %></span>
  </p>
  <p>
    description <span><%= @product.description %></span>
  </p>
  <p>
    Total price <span><%= @order.quantity*@product.price %></span>
  </p>
  <p>
    <%= form.label :quantity %><br>
    <%= form.number_field :quantity, max: @product.quantity, min: "0" %>
  </p>
  <p>
    category <span><%= Category.find(@product.category_id).name %></span>
  </p>
  <p>
    brand <span><%= Brand.find(@product.brand_id).name %></span>
  </p> 
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Show', @order %>
<%= link_to 'Back', orders_path %>