<h1>Cart</h1>
</div class="col-xs-6 col-xs-offset-3">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th  scope="col">Title</th>
      <th scope="col">Description</th>
      <th  scope="col">quantity</th>
      <th  scope="col">Price</th>
      <th  scope="col">Total</th>
      <th  scope="col">State</th>
    </tr>
  </thead>

  <tbody>
    <% @items.uniq.each do |item| %>
      <tr>
        <td scope="row"><%= item.title  %></td>
        <td scope="row"><%= item.description %></td>
        <td scope="row"><%= item.quantity %></td>
        <td scope="row"><%= item.price %></td>
        <td scope="row"><%= item.quantity*item.price %></td>
        <td scope="row"><%= item.orders.collect(&:state).flatten.uniq[0] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
<h4>Your bill:</h4>
    <h4><%= @total_payment%></h4>
</div>

<%= link_to 'back', products_path %>
<%# <%= link_to 'checkout', order_index_path, method: :post %>