<% content_for :title, "Wishlist" %>
<div class="container">
<div class="row justify-content-center">
<div class="col-12 p-1 m-1">
<h3 class="text-center mt-1 m-2  rounded text-success font-weight-bold ">My Wishlist</h3>

<div class="m-1">
<% if ! @wishlist_items.empty? %>
  <% @wishlist_items.each do |item| %>
    <table class="table table-sm table-striped shadow rounded text-center">
      <thead class="thead-dark">
        <tr><th colspan="4" class="text-warning h4">Product #<%= item.id %></th></tr>
        <tr>
            <th>Product</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="">
            <td>
                <%= item.product.title %>
            </td>
            <td>
                <%= (item.product.image.attached?) ? image_tag(item.product.image, size: "120x100") : "No Image" %>
            </td>
            <td>
              <%= item.product.quantity %>
            </td>
            <td>
                <%= form_with(url: update_mywishlist_path("id" => item.product.id), class: 'text-dark', method: "put") do |form| %>
                    <%= form.submit "Remove", :class => 'fas fa-shopping-cart btn btn-outline-danger btn-sm', data: { confirm: 'Are you sure?' } %>
                <% end %>
            </td>  
        </tr>
      </tbody>
    </table>
    <% end %>
    <% else %>
      <table class="table table-sm table-striped rounded text-center">
        <thead class="thead-dark">
          <tr>
            <td colspan="4" class="text-center h5 alert alert-danger">No Items In Your Wishlist</td>
          </tr>
        </thead>
      </table>
    <% end %>
</div>
</div>
</div>
</div>