<article class="product">
  <header>
    <%= link_to product do %>
        <%= (product.image.attached?) ? image_tag(product.image, size: "200x150", class: 'card-img-top mt-2 border') : 'No image' %>
    <% end %>
    <h4><%= product.title %></h4>
  </header>

  <footer class="actions">
    <% if product.quantity > 0 %>
        <%= link_to add_to_cart_path(product.id), class: 'btn btn-warning text-dark', method: :post do %>
          <%= fa_icon "shopping-cart", text: 'Add' %>
        <% end %>
    <% else %>
        <span>Out Of Stock</span>   
    <% end %>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
    Details &raquo;
    <% end %>
  </footer>

  <aside class="price">
    $<%=  product.price %>
  </aside>
  <% if product.quantity == 0 %>
    <p> out_of_stock </p>
  <% end %>
</article>