<div class="products-page">
    <div class="row">
        <%= render 'layouts/sidebar'%>
        <div class="main-content col-md-10">
            <div class="container">
                <div class="d-flex flex-wrap justify-content-center mt-5">
                    <span class="px-2 py-1 align-self-center mr-3 d-md-none btn btn-outline-primary" onclick="showSidebar()">
                        <i class="fas fa-filter"></i>
                    </span>                    
                    <% if current_user %>

                    <% if current_user.seller_role? %>
                        
                        <div class="mr-3 align-self-center">
                            <%= link_to "Add Product", new_product_path, class: 'd-inline btn btn-outline-success text-dark' %>
                        </div>
                    <% end %>

                        <%= form_tag products_path, :method => "get", class: 'form-inline justofy-content-around' do %>
                            <%= text_field_tag :search, params[:search], class: 'form-control mx-1', placeholder: 'Search' %>
                            <%= submit_tag "Search", class: 'btn btn-dark', onclick: 'checkDimensions()' %>
                        <% end %>

                    <% end %>
                </div>
                <div class="products mb-5">
                    <%= render @products %>
                </div>
            </div>

            <% if @products.present? %>
                <div class="apple_pagination border shadow rounded mt-5 p-1">
                    <%= will_paginate @products%>
                </div>
            <% end %>

        </div>
    </div>
</div>