<div class="row justify-content-center">
<div class="col-6 border p-1 m-2">
<h1 class="text-center mt-3 m-2 bg-primary rounded shadow">Product</h1>
<div class="m-4 p-1 border text-center">
    <h2><%= @product.title %></h2>
    <%= (@product.image.attached?) ? image_tag(@product.image, size: "220x220") : "" %>
    <hr>
    <p>Price: <%= @product.price %> | AvailableQuantity: <%= @product.quantity %></p>
    <p>Category: <%= @product.category.name %> | Brand: <%= @product.brand.name %> | Store: <%= @product.store.name %></p>
    <hr>
    <h5>Product Description</h5>
    <p class="border rounded m-1 p-1 mb-3"><%= @product.description %></p>
    <hr>
    <div class="border rounded p-3 m-2 text-center">
        <% if @product.quantity > 0 %>
            <%= form_with(url: add_to_cart_path(@product.id), method: "post") do |form| %>
                
                    <%= form.number_field :quantity ,value: 1, min: 1, max: @product.quantity %>
                    <%= form.submit "Add to Cart", :class => 'btn btn-sm btn-warning text-dark shadow', data: { confirm: 'Do you want to add ( ' + @product.title + ' ) to your cart?'} %>
                
            <% end %>
        <% else %>
                <h5 class="bg-secondary m-4">No Product available now</h5>
        <% end %>
        </div>
        <div class="border rounded p-3 m-2 text-center">
        <% if can? :edit, @product %>
            <%= link_to "Edit", edit_product_path(@product.id), class: 'btn btn-primary shadow' %>
        <% end %>
        <% if can? :destroy, @product %>
            <%= link_to 'Delete', product_path(@product),
            method: :delete,
            data: { confirm: 'Are you sure you want to delete this product?' },
            class: 'btn btn-danger shadow' %>
        <% end%>
    </div>
    <div class="border rounded p-3 m-2 text-center">
            <p>Rate: <%= @product.rate %> | Reviewers: <%= @product.reviewers %></p>
            <%= form_with(url: rate_product_path(@product.id), method: "put") do |f| %>
                    <%= f.select(:rate, [1,2,3,4,5]) %>
                    <%= f.submit "Rate", :class => 'btn btn-sm btn-info text-dark shadow' %>
            <% end %>
    </div>
</div>
<div class="text-center mt-2 mb-1">
    <%= link_to "Products", products_path, class: 'btn btn-outline-primary' %>
</div>
</div>
</div>