<nav class="navbar navbar-dark navbar-static-top navbar-expand-md bg-dark">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
                <li class='nav-item shadow rounded'><%= link_to 'Home', welcome_index_path, class: 'nav-link' %></li>  
                <li class='nav-item shadow rounded'><%= link_to 'Products', products_path, class: 'nav-link' %></li>  
                <li class='nav-item shadow rounded'><%= link_to 'Orders', orders_path, class: 'nav-link' %></li>  
            </ul>

            <ul class="nav navbar-nav ml-auto">

                <% if current_user %>
                    <li class='nav-item shadow rounded'><%= link_to "Log Out" , destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
                    <% if current_user.superadmin_role? %>
                            <li class='nav-item shadow rounded'><%= link_to 'Manage App', "/admin", class: 'nav-link' %></li> 
                    <% end %>
                    <%else%>
                    <li class='nav-item shadow rounded'><%= link_to "Sign Up" , new_user_registration_path, class: 'nav-link' %></li>
                    <li class='nav-item shadow rounded'><%= link_to "Sign In" , new_user_session_path, class: 'nav-link' %></li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>
<p class="notice text-warning text-center"><%= notice %></p>
