<aside class="d-md-flex flex-column col-md-3 py-2 d-none shadow" id="sidebar-wrapper">

    <%# Filter %>
    <div class="filter">
        <div class="d-md-none my-3" id="close-filter" onclick="closeSidebar()">
            <span class="btn btn-dark rounded">X</span>
        </div>
        <%= form_tag fetch_products_path ,method: 'get', :remote => true, id: 'category-form' do %>
            <div class="category-filter mb-4 mt-3">
                <h4 class="bg-info p-1 rounded">Categories</h4>
                <% @categories.each do |category| %>
                    <div>
                        <%= check_box_tag "categories[]", category.id %>
                        <%= category.name %>
                    </div>
                <%end%>
            </div>
            <hr>
            <div class="brand-filter mb-4">
                <h4 class="bg-info p-1 rounded">Brands</h4>
                <% @brands.each do |brand| %>
                    <div>
                        <%= check_box_tag "brands[]", brand.id %>
                        <%= brand.name %>
                    </div>
                <%end%>
            </div>
            <hr>
            <div class="store-filter mb-4">
                <h4 class="bg-info p-1 rounded">Stores</h4>
                <% @stores.each do |store| %>
                    <div>
                        <%= check_box_tag "stores[]", store.id %>
                        <%= store.name %>
                    </div>
                <%end%>
            </div>
            <hr>
            <div class="price-filter mb-4">
                <h4 class="bg-info p-1 rounded">Prices</h4>
                <div class="form-group">
                    <%= label_tag 'Min: '%>
                    <%= number_field_tag 'price_min', nil, class: 'form-control d-inline-block' %>
                </div>

                <%= label_tag 'Max: '%>
                <%= number_field_tag 'price_max', nil, class: 'form-control' %>
            </div>
            <%= submit_tag "Filter", class: 'btn btn-success shadow w-100', onclick: 'checkDimensions()' %>
        <% end %>

    </div>

</aside>